body {
  background-color: greenyellow;
}

h1{
  text-align: center;
  text-decoration: underline;
}

h3{
  color: white;
}

h4{
  font-style: italic;
}

section.job {
  background-color: lightcoral;
  border: medium solid black;
  padding: 10px;
}

article.job1 {
  border: medium solid black;
  padding: 10px;
  margin: 5px;
  font-family: sans-serif;

}

article.job2 {
  border: medium solid black;
  padding: 10px;
  margin: 5px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

article.job3 {
  border: medium solid black;
  padding: 10px;
  margin: 5px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

article.job4 {
  border: medium solid black;
  padding: 10px;
  margin: 5px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2{
  color:springgreen
}
